@font-face {
  font-family: 'Arial MT';
  src: url('/lesson-16/src/project-2/fonts/ArialMT/ArialMT.eot');
  src: local('Arial MT'), local('ArialMT'),
  url('/lesson-16/src/project-2/fonts/ArialMT/ArialMT.eot?#iefix') format('embedded-opentype'),
  url('/lesson-16/src/project-2/fonts/ArialMT/ArialMT.woff') format('woff'),
  url('/lesson-16/src/project-2/fonts/ArialMT/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin reg {
  font-family: 'Arial MT', sans-serif
}

@font-face {
  font-family: 'Arial MT Bold';
  src: url('/lesson-16/src/project-2/fonts/ArialMT/Arial-BoldMT.eot');
  src: local('Arial MT Bold'), local('Arial-BoldMT'),
      url('/lesson-16/src/project-2/fonts/ArialMT/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
      url('/lesson-16/src/project-2/fonts/ArialMT/Arial-BoldMT.woff') format('woff'),
      url('/lesson-16/src/project-2/fonts/ArialMT/Arial-BoldMT.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@mixin bold {
  font-family: 'Arial MT Bold', sans-serif
}